.search {
  position: fixed;
  z-index: 1;
  top: 60px;
  background-color: #eeeeee;
  padding-top: 20px;
  max-width: 798px;
  width: 100%;
}

.label-search {
  font-size: 20px;
  font-weight: 400;
}

.custom-select__control {
  position: relative !important;
  -webkit-transition: all 100ms !important;
  transition: all 100ms !important;
  background-color: #fff !important;
  border: none !important;
  box-shadow: none !important;
  border-radius: 10px !important;
  width: 100% !important;
  max-width: 798px !important;
  height: 46px !important;
  /* margin-left: 113px !important; */
}
.custom-select__menu {
  -webkit-transition: all 100ms !important;
  transition: all 100ms !important;
  background-color: #fff !important;
  border: none !important;
  box-shadow: none !important;
  color: #000000 !important;
  width: 100% !important;
  max-width: 798px !important;
  height: 46px !important;
  top: 38px !important;
  /* margin-left: 113px !important; */
}

.custom-select__input {
  color: #000000 !important;
}

.custom-select__option {
  cursor: pointer !important;
  background-color: #fff !important;

  /* &--is-focused {
    background-color: #83c6fa !important;
    color: #ff0000 !important;
  } */
}
.custom-select__option:hover {
  background-color: #83c6fa !important;
  color: #293251 !important;
}
