.container-flag {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 350px;
  height: 450px;
  flex-shrink: 0;
  border: none;
  background: #ffffff;
  border-radius: 10px;
  gap: 20px;
}
.flag-img {
  width: 230px;
  height: 115px;
  flex-shrink: 0;
  background: lightgray 50% / cover no-repeat;
}

.coat-of-arms-img {
  width: 150px;
  height: 150px;
  flex-shrink: 0;
  background: lightgray 50% / cover no-repeat;
}
.flag {
  color: #252525;
  text-align: center;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.coat-of-arms {
  color: #252525;
  text-align: center;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
