.home-container {
  margin-top: 20px;
  display: grid;
  grid-template-rows: auto auto;
  justify-items: center;
}

.container-countries-cards {
  /* display: flex;
  flex-wrap: wrap;
  gap: 50px; */

  margin: 20px 20% auto 20%;
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 50px;
}
