#portal {
  min-width: 0px;
  min-height: 0px;
  width: 100vw;
  height: 100vh;
  padding: 0;
  margin: 0;
  position: fixed;
  top: 0;
  left: 0;
  pointer-events: none;
}

.backdrop {
  position: fixed;
  width: 100vw;
  height: 100vh;
  flex-shrink: 0;
  background: rgba(0, 0, 0, 0.5);
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: 0.5s;
  pointer-events: none;
}

.backdrop.active {
  opacity: 1;
  pointer-events: all;
  width: 100vw;
  height: 100vh;
}
.modal-container {
  border-radius: 10px;
  background: #fff;
  width: auto;
  height: auto;
  transform: scale(0);
  transition: 0.5s all;
}
.modal-container.active {
  transform: scale(1);
}
