.container-header {
  width: 100vw;
  height: 60px;
  position: fixed;
  z-index: 1;
  top: 0;
  background: #fff;
  flex-shrink: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* display: grid;
  grid-template-columns: 2fr 1fr 1fr;
  grid-template-rows: auto;*/
  padding: 17px 22px 18px 21px;
  column-gap: 20px;
  font-size: 20px;
  font-weight: 400;
  box-sizing: border-box;
}

.spacer {
  margin-left: auto;
}
.name-site {
  cursor: pointer;
}
.login {
  cursor: pointer;
}
.register {
  cursor: pointer;
}
.logout {
  cursor: pointer;
}
.my-countries {
  cursor: pointer;
}
