.container-country-card {
  position: relative;
  width: 230px;
  height: 230px;
  flex-shrink: 0;
  border: none;
  background: #ffffff;
  border-radius: 10px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  cursor: pointer;
}
.container-country-card:hover .name-card-country {
  transition: color 0.5s;
  color: blue;
}

.label-for-info-country {
  font-size: 12px;
  font-weight: 400;
}
.name-card-country {
  font-size: 15px;
  font-weight: 600;
  margin-bottom: 24px;
}

.name-card-capital {
  font-size: 15px;
  font-weight: 600;
}

.star-card {
  position: absolute;
  bottom: 18px;
  right: 21px;
  width: 24px;
  height: 24px;
}

.star-card-favorites {
  position: absolute;
  bottom: 18px;
  right: 21px;
  width: 24px;
  height: 24px;
}
.info-country-card {
  margin: 13px 37px 22px 12px;
}

.flag-img-card {
  width: 230px;
  height: 115px;
  flex-shrink: 0;
  background: lightgray 50% / cover no-repeat;
}
