.container-country-card {
  width: 230px;
  height: 230px;
  flex-shrink: 0;
}

.label-for-info-country {
  font-size: 12px;
  font-weight: 400;
}
.name-country {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 8px;
}

.name-capital {
  font-size: 15px;
  font-weight: 600;
}

.star {
  position: absolute;
  top: 18px;
  right: 21px;
  width: 24px;
  height: 24px;
}

.star-favorites {
  position: absolute;
  top: 18px;
  right: 21px;
  width: 24px;
  height: 24px;
}
