.container-country-card {
  position: relative;
  width: 230px;
  height: 230px;
  flex-shrink: 0;
  border: none;
  background: #ffffff;
  border-radius: 10px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  cursor: pointer;
}
.container-country-card:hover .name-country-card {
  transition: color 0.5s;
  color: blue;
}

.star-card {
  position: absolute;
  bottom: 18px;
  right: 21px;
  width: 24px;
  height: 24px;
  cursor: pointer;
}
