.full-info-country {
  display: grid;
  grid-template-columns: 560px 350px;
  grid-gap: 50px;
  justify-content: center;
  margin: 100px;
}
@media (max-width: 375px) {
  .full-info-country {
    grid-template-columns: 400px;
    justify-items: center;
  }
}
