.text-info-country {
  margin-top: 18px;
  margin-left: 19px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.label-for-info-country {
  font-size: 12px;
  font-weight: 400;
}
.name-country {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 8px;
}

.name-capital {
  font-size: 15px;
  font-weight: 600;
}

.currencies {
  font-size: 15px;
  font-weight: 600;
}

.region {
  font-size: 15px;
  font-weight: 600;
}

.languages {
  font-size: 15px;
  font-weight: 600;
}

.population {
  font-size: 15px;
  font-weight: 600;
}
