.container-register {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  padding: 37.33px 25px 27px 25px;
}

.form-register > div {
  display: flex;
  flex-direction: column;
}
.form-register > .btn-register {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.modal-register {
  width: 74px;
  height: 28px;
  font-size: 20px;
  font-weight: 600;
}

.label-login-register {
  width: 35px;
  height: 17.5px;
  font-size: 12px;
  font-weight: 400;
  margin-top: 30.33px;
  transition: 0.5s all;
}

.label-login-register.not-valid {
  width: 300px;
  height: auto;
  color: red;
  transition: 0.5s all;
}

.label-password-register {
  width: 59px;
  height: 17.5px;
  font-size: 12px;
  font-weight: 400;
  margin-top: 50.33px;
  transition: 0.5s all;
}

.label-password-register.not-valid {
  width: 300px;
  height: auto;
  color: red;
  transition: 0.5s all;
}

#btn-register {
  width: 133px;
  height: 41px;
  flex-shrink: 0;
  border: none;
  border-radius: 15px;
  background: #d9d9d9;
  padding: 6px 30px 7px 29px;
  font-size: 20px;
  font-weight: 600;
  margin-top: 33.33px;
  cursor: pointer;
}

.input-login-register {
  width: 350px;
  height: 53.667px;
  flex-shrink: 0;
  border-radius: 10px;
  border: 1px solid #d9d9d9;
  background: #fff;
  padding-left: 25px;
  transition: 0.5s all;
}

.input-login-register.not-valid {
  border: 1px solid #ff0000;
  transition: 0.5s all;
}

.input-password-register {
  width: 350px;
  height: 53.667px;
  flex-shrink: 0;
  border-radius: 10px;
  border: 1px solid #d9d9d9;
  background: #fff;
  padding-left: 25px;
  transition: 0.5s all;
}

.input-password-register.not-valid {
  border: 1px solid #ff0000;
  transition: 0.5s all;
}

.input-confirm-password-register {
  width: 350px;
  height: 53.667px;
  flex-shrink: 0;
  border-radius: 10px;
  border: 1px solid #d9d9d9;
  background: #fff;
  padding-left: 25px;
  transition: 0.5s all;
}

.input-confirm-password.not-valid {
  border: 1px solid #ff0000;
  transition: 0.5s all;
}

.label-confirm-password {
  font-size: 12px;
  font-weight: 400;
  margin-top: 50.33px;
  transition: 0.5s all;
}

.label-confirm-password.not-valid {
  width: 300px;
  height: auto;
  color: red;
  transition: 0.5s all;
}

.error-login-reg {
  position: absolute;
  color: red;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.error-user-exists {
  position: absolute;
  color: red;
  top: 14%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.error-password-reg {
  position: absolute;
  width: 65%;
  padding-bottom: 10px;
  padding-left: 17%;
  color: red;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.error-confirm-password {
  position: absolute;
  color: red;
  top: 62%;
  left: 50%;
  transform: translate(-50%, -50%);
}
@media (max-width: 375px) {
  .error-login-reg {
    font-size: smaller;
  }
  .error-password-reg {
    font-size: smaller;
    top: 40%;
  }
  .error-confirm-password {
    top: 65%;
    font-size: smaller;
  }
  .input-login-register {
    width: 150px;
  }
  .input-login-register.not-valid {
    width: 150px;
  }

  .input-password-register {
    width: 150px;
  }
  .input-password-register.not-valid {
    width: 150px;
  }

  .input-confirm-password-register {
    width: 150px;
  }
  .input-confirm-password-register.not-valid {
    width: 150px;
  }
  .error-login-reg {
    top: 15%;
  }
  .label-login-register.not-valid {
    width: 150px;
    margin-top: 30%;
  }
  .label-password-register.not-valid {
    width: 150px;
    margin-top: 60%;
  }
  .label-confirm-password.not-valid {
    margin-top: 40%;
    width: 150px;
  }
}
